@charset "UTF-8";

/*공통*/
body {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*회원삭제*/
input {
	width:180px;
	display: center;
	vertical-align: middle;
}

#delete-chackip {
	text-align: center;
	width: auto;
}

#deletePage {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

#delete_form {
	border-radius: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(46, 204, 113) rgb(19, 232, 255) rgb(19, 232, 255)
		rgb(46, 204, 113);
	padding: 100px;
}

#dt-check {
	padding: 50px;
	font-size: 115%;
	color: rgb(26, 188, 156);
}

.dt-txt1 {
	border-bottom: none;
	font-size: 150%;
	font-weight: bold;
}

.dt-txt2 {
	border-bottom: none;
	vertical-align: bottom;
	color: rgb(190, 190, 190);
}

.dt-table {
	vertical-align: bottom;
	text-align: center;
}

.dt-a {
	vertical-align: top;
}

.dt-b {
	font-size: 120%;
	font-weight: bold;
}

/*탈퇴 취소 버튼*/
.blue-btn2 {
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 2.8em;
	border-radius: 4px;
	background-color: rgb(52, 152, 219);
	font-weight: bold;
	border: 0px;
	width: 90px;
	height: 50px;
}

/*회원탈퇴, 취소버튼*/
.gray-btn2 {
	font-size: 16px;
	background-color: rgb(238, 238, 238); 
	color : rgb(64, 64, 64);
	text-align: center;
	line-height: 2.8em;
	border-radius: 4px;
	font-weight: bold;
	border: 0px;
	width: 90px;
	height: 50px;
	
}

.content-main{
	text-align: center;
}

.dt-pw2{
	width:300px;
}

.dt-pw{
	width:170px;
}