@charset "UTF-8";



/*공통*/
body{
	width:100%;
	margin:0;
	padding:0;
}


/*로그인 폼*/


li{
	text-align:left;
	margin-left:15px;
}
.align-center{
	text-align:center;

	}

.content-main{
	display:inline-block;
	
}

.login-main{
	text-align:center;
	
	border-color: rgb(46, 204, 113) rgb(19, 232, 255) rgb(19, 232, 255) rgb(46, 204, 113);
	border-radius: 11px;
	border-width: 2.5px;
	border-style: solid;
	width:350px;
	height:200px;
	padding:20px 20px ;
	margin:30px;
}

.tb{
	text-align:center;
	padding:20px 20px ;
}
.td1{
	display:inline-block;
	line-height: 200%;
	padding:10px 10px ;
}
.ip{
	text-align:center;
	height:120%;
	
}
input#member_id.log-id, #passwd.log-pw {
	width:180px;
	height:30px;	
	border:none;
	box-shadow: insert 2px 2px 3px rgba(0, 0, 0, 0.2);
	border-bottom: 0.5px solid;
	
	}
	
.login-btn{
	text-align:center;
	margin:15px;
	
}
.log-b{
	background-color:#adf7ff;
	font-weight:bold;
	border-radius: 11px;
	border:none;
	width:65px;
	height:25px;
	color:#636363;
}

h2{
	font-weight: bold;
	font-size: 200%;
	color: rgb(26, 188, 156);
}

/*회원가입 폼*/	


.member_id, .passwd, .name, .birth0, .phone0, .email{
	font-size: 90%;
	font-weight: bold;
	padding-right:20px;
}
.s{
	font-size: 80%;
}
.tr1{
	height:20px;
}
table{
	display:inline-block;
}
.register-main{
	text-align:center;
	border-color: rgb(46, 204, 113) rgb(19, 232, 255) rgb(19, 232, 255) rgb(46, 204, 113);
	border-radius: 11px;
	border-width: 2.5px;
	border-style: solid;
	padding:50px;
	width:450px;
	height:400px;
	margin:30px;
	line-height: 270%;
}

.register-inner{
	text-align:center;
	border:1px;
}

td{
	
	text-align:left;
}

.td3{
	text-align:left;
}

.id{
	vertical-align : bottom;
}

.form-notice{
	font-size: 70%;
	height:20px;
	vertical-align : top;
}

.txt{
	width:200px;
}

.inBorder{
	width:54px; height:25px;}
	
input#member_id.id,#passwd.pw,#name.txt, #email.txt{
	width:200px;
	text-align:left; 
	height:25px;
}
input#birth1.inBorder,#phone3.phone,#phone2.phone{
	width:52px;height:20px;
}


.reg-b{
	background-color:#dcf5dd;
	color:#636363;
	font-size: 65%;
	border-radius: 11px;
	border:none;
	width:65px;
	height:25px;
	vertical-align : bottom;
}

.reg-b2{
	background-color:#adf7ff;
	color:#636363;
	font-weight:bold;
	border-radius: 11px;
	border:none;
	width:65px;
	height:25px;
}
