@charset "UTF-8";



/*공통*/
body{
	width:100%;
	margin:0;
	padding:0;
}


/*등록, 수정폼*/
.register_form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 10px 30px;
}

input#birth1.inBorder{
	width:60px;
}

input#phone3.phone{
	width:54.5px;
}

input#phone2.phone{
	width:54.5px;
}

.form-notice{
	margin-left:130px;
}


/*기존코드*/
table{
	text-align:left;
	word-break:break-all;
	height:auto;
}

th,td{
	border-bottom: 1px solid #e8e8e8;
    padding: 10px;
}

