.rating{
   display:inline-block;
   width:500px;
}
.rating .rate-check {
   display:none;   
}
.rating .rate-check + label {
    width: 20px;
    height: 20px;
    background-image: url('../images/star.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate-check:checked + label {
    background-color: #eb7a34;
}
.rec-star {
   width: 15px;
    height: 15px;
    background-color: #eb7a34;
}
