@charset "UTF-8";

.content-main{
	margin:80px auto;
}

.content-main h2{
	font-size:25pt;
	color:#545051;
}

.parent{
	width:60%;
	margin:50px auto;
}
.netflix{
	width:50%;
	float:left;
	margin:100px 0 0 0;
}
.star{
	width:50%;
	float:left;
}