@charset "UTF-8";

.content-main{
	margin:80px auto;
}

.content-main h2{
	font-size:25pt;
	color:#545051;
}

div#recommend-h2{
	font-size: 25pt;
    color: #545051;
    padding: 0px;
    margin: 0;
}
div#recommend-p{
	margin-bottom:70px;
}
form#ottRecommend_form{
	width: 1000px;
    height: 300px;
    margin: 0 auto;
    padding: 15px 30px 15px 30px;
}
div.checkbox1 {
    margin: 0 auto;
    padding-left: 100px;
    min-height: 80px;
    font-size: 15pt
}
div.checkbox2 {
    clear: both;
    margin: 0 auto;
    padding-left: 280px;
    min-height: 80px;
    font-size: 15pt;
}
.checkbox3 {
    clear: both;
    margin: 0 auto;
    padding-left: 100px;
    min-height: 80px;
    font-size: 15pt;
}
div.cb1 {
    width: 250px;
    height: 40px;
    float: left;
    margin: 10px;
    padding-top: 20px;
    background-color: #ededed;
    border-radius: 10px;
}
div#cb1-2 ,#cb1-3{
    float: left;
}

div.cb2 {
    vertical-align: middle;
    width: 120px;
    height: 40px;
    float: left;
    margin: 10px;
    padding-top: 30px;
    padding: 20px 10px 0px 0px;
    background-color: #ededed;
    border-radius: 10px;
}
div.cb3 {
    width: 150px;
    height: 40px;
    float: left;
    margin: 10px;
    padding-top: 20px;
    background-color: #ededed;
    border-radius: 10px;
}
/*요금제 가격대*/
.price-bar {
    font-size: 10pt;
}
input#priceBar {
    width: 800px;
    margin-left: 50px;
}
p#pricebar-p {
    font-size: 15pt;
    text-align: left;
    padding: 0px 0px 0px 560px;
}
#ottCheckBtn {
    padding: 30px;
    font-size: 15pt;
    color: whitesmoke;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #828282;
    border-radius: 10px;
    border:none;
}
p#output {
	font-size:12pt;
	font-weight:bold;
	text-align:center;
}

/*OTT 추천결과*/
#netflix{
	width: 400px; 
	height:150px;
	margin:0 10px;
}
#disney{
	width: 400px; 
	height:250px;
	margin:0 10px;
	
}
#watcha{
	width: 400px; 
	height:200px;
	margin:0 10px;
}
#tving{
	width: 300px; 
	height:140px;
	margin:0 10px 20px 10px;
}
#wavve{
	width: 400px; 
	height:120px;
	margin:0 10px 30px 10px;
}

#down_arrow{
	width:75px;
	margin:60px;
}

#reset{
    padding: 15px;
    font-size: 12pt;
    color: black;
    width: 150px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ccc;
    border-radius: 10px;
    border: none;

}

