@charset "UTF-8";

/*작품상세+리뷰페이지*/
#r-main{
	width: 100%;
}

div.contents-detail{
	display: inline-block;
	margin: 40px;
}
.contents-detail img{
	float: left;
}
.contents-detail ul{
	float: right;
	text-align: left;
}
.contents-detail li{
	margin: 5px;
}
.review_title {
    font-size: x-large;
    font-weight: 800;
}
.end-float{
	clear: both;
}
.review-grey {
    background-color: rgb(239, 239, 239);
    padding: 40px;
}
.contents_plot {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#content-plot-title {
    text-align: left;
    margin-block-start: unset;
    margin-block-end: unset;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
}
#content-plot {
    text-align: left;
    margin-block-start: unset;
    margin-block-end: unset;
    margin: 10px;
}
#write-review {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 1.4em;
}
div.review-form{
	margin: 20px;
}

















